#sort {
	font-size: 0.9em;
}

#sort span, #sort li a, #sort li.active a {
	padding: 2px;
}

#sort span {
	display: block;
	margin-right: 10px;
	float: left;
}

a.delete { color: #CC0000; }
h2 { margin-bottom: 20px;}

form.form-horizontal label { width: 160px; float: left; }
form.form-horizontal div.input { overflow: hidden; margin-bottom: 15px;}
form.form-horizontal .help-block { font-style: italic; }