@(users: List[models.User])

@main("Welcome to Play 2.0") {
  <h1>Users</h1>
  <div>
    Sort: <a href="/?sort=lastName">last name</a> - <a href="/?sort=firstName">first name</a> - <a href="/?sort=email">email</a> - <a href="/">none</a>
  </div>
  @if(!users.isEmpty) {
    <ul>
      @users.map { user =>
        <li>
          <a href="@routes.Application.editForm(user.id.get.stringify)">@user.firstName @user.lastName (@user.email)</a>
        </li>
      }
    </ul>
  }
  <div>
    <a href="@routes.Application.createForm">Create a user</a>
  </div>
}